.nickname {
  font-size: 12px;
  display: inline-block;
  font-weight: bolder;
}
.position {
  padding-left: 7px;
  font-size: 12px;
}
/* .cell {
  padding: 12px 0;
} */
.fullname {
  font-weight: bolder;
}
/* .tableheader {
  font-size: 14px;
  color: #0a0a0a;
  display: inline-block;
} */
